* {
  padding: 0;
  margin: 0;
}
body {
  margin: 0 auto;
}
header {
  width: 100%;
  position: flex;
  z-index: 100;
}
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
img {
  max-width: 100%;
}
li {
  list-style: none;
}
.readmore a{
  text-align: center;
}
/*header*/
header img {
  padding-left: 16px;
}
header .site-title {
  line-height: 1px;
  padding: 20px 16px;
}
header .site-title a {
  text-decoration: none;
}
header nav {
background-color: black;
}
header nav ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
header nav ul li {
  font-size: 0.85rem;
  list-style: none;
  padding: 10px 60px 10px 0;
}
header nav ul li a:hover {
  background-color: white;
  color: black;
}
header nav ul li a {
  display: block;
  color: white;
  text-decoration: none;
}
/*pickup*/
#pickup {
  display: flex;
  justify-content: center;
}
article {
  text-align: center;
  padding-bottom: 60px;
}
#pickup img {
  width: 90%;
  margin-top: 40px;
}
article a {
  display: inline-block;
  color: black;
  font-size:0.8rem;
  transition: all 2s ease;
}
article a:hover {
text-decoration: none;
}

/* main*/
main {
  width: 65%;
}

/*main article*/
#container {
  max-width: 1200px;
  margin:0 auto;
  padding: 0px 16px;
  display: flex;
  justify-content: space-between;
}
main ul {
  width: 100%;
}
main article h2 {
text-align: start;
padding-bottom: 10px;
}
main article a {
  padding-top: 10px;
  display: block;
  text-align: start;
}
main article h2 a {
  display: inline-block;
  font-size:1em;
text-decoration: none;
}
main article img {
  widows: 100%;
}
main article li a {
  text-decoration: none;
}
main article .text {
  text-align: start;
  padding: 10px 30px;
  font-size: 0.9em;
}
aside {
  width:30%;
  text-align: center;
  padding: 20px;
}
aside .author img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin-bottom: 30px;
}
aside h3 {
  margin-bottom: 30px;
}
aside p {
  font-size: 0.8rem;
  padding:10px;
}
.author {
  margin-bottom: 50px;
}
.ranking {
  margin-bottom: 50px;
}
.ranking p {
  padding: 0 20px;
}
.archive {
  margin-bottom: 100px;
}
.archive li {
  width: 100%;
  border-top: 1px solid black;
  padding: 20px 0;
  padding-left: 20px;
  font-size:0.8em;
  text-align:start;
}
.archive a {
  text-decoration: none;
  color: black;
}
footer {
  display: flex;
}
.item {
  width:30%;
  padding:20px 50px;
}
.item p {
  font-size: 0.9em;
  padding-bottom: 20px;
}
.item a {
  display: block;
  text-decoration: none;
  color: black;
}
.item h3 {
  padding-bottom: 30px;
}
.item li {
    width: 100%;
  border-top: 1px solid black;
  padding: 15px 0;
  padding-left: 20px;
  font-size:0.8em;
  text-align:start;
}
